<div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                  <ul class="list-unstyled mb-0">
                      {{#each categories}}
                    <li>
                      <a href="#">{{name}}</a>
                    </li>
                    {{/each}}
                  </ul>
              </div>
            </div>
          </div>