{{#if succsess_msg}}
    <p class="bg-success">{{succsess_msg}}</p>
{{/if}}
{{#if delete_msg}}
    <p class="bg-danger">{{delete_msg}}</p>
{{/if}}
{{#if update_msg}}
    <p class="bg-warning">{{update_msg}}</p>
{{/if}}